/*--------------------------------------------------------------
# Personal Skills Section
--------------------------------------------------------------*/
.personalSkills {
  height: 100vh;
  position: relative;
  color: #fff;
}

.personalSkills .personalSkills-content {
  text-align: center;
  position: absolute;
}

.personalSkills .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.personalSkills .personalSkills-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.personalSkills .personalSkills-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--------------------------------------------------------------
# Responsiveness 
--------------------------------------------------------------*/
@media (min-width: 768px) {
  .personalSkills .personalSkills-title {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .personalSkills .personalSkills-subtitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
